html,body {
    margin: .5em;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

section {
    margin: 0.5em
}

pre * {
    font-family: inherit;
}

pre {
    margin: 1em;
}

img {
    width: 21em;
}

td {
    white-space: nowrap;
}

.recommended { color:rgb(35,65,140); }
.avoid { color:rgb(160,45,50); }
.mixed { color:rgb(120, 120, 120); }

.tag {
    background-color:#f0f0f0;display:inline-block;font-weight:bold;
    border:2px solid #f0f0f0;padding:1px 4px;margin:1px;
}