@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Italic.ttf") format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Italic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-BoldItalic.ttf") format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-BoldItalic.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Regular.ttf") format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Regular.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Bold.ttf") format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/assets/fonts/AtkinsonHyperlegible-Bold.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'SAX2';
  src: url("/public/assets/fonts/SAX2.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'Atkinson Hyperlegible';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin: 0;
}

body {
  max-width: 55em;
  margin: 1em auto;
}

section,
.pad {
  margin: 1em;
  padding: 1em;
}

section,
.block {
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
}

p {
  white-space: pre-line;
}

pre,code {
  font-family: 'SAX2';
  line-height: 1;
  font-weight: bold;
}

code * {
  font-family: 'SAX2';
}

blockquote {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 125%;
}

pre {
  white-space: pre-wrap;
}

pre {
  margin:0;
  padding:0;
}

section.function {
  background: #f3f3f3;
  font-weight: bold;
}

section.function * {
  font-family: 'SAX2';
  font-weight: bold;
}