* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 1em;
}

p:last-child {
    margin: 0;
}

body {
    max-width: 55em; 
    margin: 1em auto;
}

section,.pad {
    margin: 1em; 
    padding: 1em;
}

section,.block {
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

html,body {
    height:100%;
    width:100%;
}

table {
    border-collapse: collapse;
}


td,th {
    padding:0.5em
}

@font-face {
    font-family: "FairfaxHD";
    src: url("/public/assets/fonts/FairfaxHD.ttf");
  }

* {
    font-family: "FairfaxHD";
}
